streamlit==1.26.0
pandas==2.0.3
numpy==1.26.5
Pillow==10.0.1
torch==2.1.0+cpu
torchvision==0.16.1+cpu
torchaudio==2.1.1+cpu
ftfy==6.1.1
regex==2023.10.23
timm==0.9.8
scikit-learn==1.3.1
opencv-python-headless==4.8.1.78
